<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Schedulogs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Clients</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Summary</a>
          <a class="dropdown-item" href="#">Management</a>
          <a class="dropdown-item" href="#">Schedule</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New Entry</a>
        </div>
      </li>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0 jumbo-custom">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">

      <li class="nav-item">
        <a class="nav-link active" href="#">Summary</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Management</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1">Schedule</a>
      </li>

    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="card-body">
        <div class="col-sm-6 mx-auto">
          <div class="card border-info mb-3">
            <div class="card-header">John M. Doe</div>
            <div class="card-body text-info">
              <p class="card-text text-left"><strong>Address: </strong>123 Example Drive, Raleigh, NC 27615</p>
              <p class="card-text text-left"><strong>Email: </strong>johndoe@example.com</p>
              <p class="card-text text-left"><strong>Phone Number: </strong>123.456.7890</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mx-auto">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>