<div class="landing-page-bg">
  <form>
    <div class="container-fluid login-container d-flex justify-content-end align-items-center">
      <input name="email" type="email" class="form-control mr-3" id="landingPageEmail" aria-describedby="emailHelp"
        placeholder="Email" required>
      <input name="password" type="password" class="form-control mr-3" id="landingPagePassword" placeholder="Password"
        required>
      <button type="submit" id="clientLogin" class="btn remove-border-radius btn-primary">Log In</button>
    </div>
  </form>

  <div class="jumbotron jumbotron-fluid parallax-effect m-0 d-flex">
    <h1 class="display-4 text-center schedulr-logo">schedulr</h1>
    <p class="lead text-center schedulr-text">
      <em>schedulr aims to simplify the communication process between
        both client and customer</em>
    </p>
    <a class="btn btn-primary align-self-center" id="clientSignUpBtn" href="#clientSignUpForm" role="button">Sign Up</a>
  </div>

  <div class="jumbotron jumbotron-fluid mb-0 p-0 overview">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-calendar-alt custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Appointments</h5>
              <p class="card-text landing-page-text text-center">
                We want to amplify your reach and give you full control
                over managing appointments with your customers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-envelope-open custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Communications</h5>
              <p class="card-text landing-page-text text-center">
                Whether you are running business or a returning
                customer, we have made it easy to view the information
                you care about.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-handshake custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Client Satisfaction</h5>
              <p class="card-text landing-page-text text-center">
                Schedulr stores business and customer information alike
                to preserve customer engagement. We can only guarantee all smiles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="clientSignUpForm" style="background: lightblue;">div block - Libby's Form Goes In Here - div block
    {{!-- CODE IN HERE --}}
  </div>
</div>