<div class="landing-page-bg">
  <form>
    <div class="container-fluid login-container d-flex justify-content-end align-items-center">
      <input name="email" type="email" class="form-control mr-3" id="landingPageEmail" aria-describedby="emailHelp"
        placeholder="Email" required>
      <input name="password" type="password" class="form-control mr-3" id="landingPagePassword" placeholder="Password"
        required>
      <button type="submit" id="clientLogin" class="btn remove-border-radius btn-primary">Log In</button>
    </div>
  </form>

  <div class="jumbotron jumbotron-fluid parallax-effect m-0 d-flex">
    <h1 class="display-4 text-center schedulr-logo">schedulr</h1>
    <p class="lead text-center schedulr-text">
      <em>schedulr aims to simplify the communication process between
        both client and customer</em>
    </p>
    <a class="btn btn-primary align-self-center" id="clientSignUpBtn" href="#clientSignUpForm" role="button">Sign Up</a>
  </div>

  <div class="jumbotron jumbotron-fluid mb-0 p-0 overview">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-calendar-alt custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Appointments</h5>
              <p class="card-text landing-page-text text-center">
                We want to amplify your reach and give you full control
                over managing appointments with your customers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-envelope-open custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Communications</h5>
              <p class="card-text landing-page-text text-center">
                Whether you are running business or a returning
                customer, we have made it easy to view the information
                you care about.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-handshake custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Client Satisfaction</h5>
              <p class="card-text landing-page-text text-center">
                Schedulr stores business and customer information alike
                to preserve customer engagement. We can only guarantee all smiles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="clientSignUpForm" style="background: lightblue;">div block - Libby's Form Goes In Here - div block
    <form>
      <div class="form-group" id="client-signup">
      <div class="card mb-3">
        <div class="form-group mt-2">
          <label for="clientEmail"><strong>Email Address:</strong></label>
          <input type="email" name="email" class="form-control" id="clientEmail" aria-describedby="emailHelp"
            placeholder="Enter email" required>
        </div>

        <div class="form-group mt-2">
          <label for="clientPassw"><strong>Password:</strong></label>
          <input type="password" name="password" class="form-control" id="clientPassw" aria-describedby="password"
            placeholder="Password" required>
        </div>

        <div class="form-group mt-2">
          <label for="clientName"><strong>Name of the Company:</strong></label>
          <input name="bus_name" type="text" class="form-control" id="clientName" aria-describedby="name"
            placeholder="Enter name of the company" required>
        </div>

        <div class="form-group mt-2">
          <label for="clientaddress"><strong>Company Address:</strong></label>
          <input name="bus-address" type="text" class="form-control" id="clientAddress" aria-describedby="address"
            placeholder="Enter Address" required>
        </div>

        <div class="form-group mt-2">
          <label for="client-website"><strong>Company Website:</strong></label>
          <input name="bus-website" type="text" class="form-control" id="clientwebsite" aria-describedby="website"
            placeholder="Enter Web Address" required>
        </div>

        <div class="form-group mt-2">
          <label for="client-number"><strong>Company Phone Number:</strong></label>
          <input name="bus-number" type="text" class="form-control" id="clientNumber" aria-describedby="number"
            placeholder="Enter Phone Number" required>
        </div>
        <div class="form-group mt-2">
          <label for="inputTime"><strong>First Available Appointment:</strong></label>
          <select id="clientFirstApp" class="form-control">
            <option selected>Choose...</option>
            <option value="1">8:00 AM</option>
            <option value="2">9:00 AM</option>
            <option value="3">10:00 AM</option>
            <option value="4">11:00 AM</option>
            <option value="5">12:00 PM</option>
            <option value="6">1:00 PM</option>
            <option value="7">2:00 PM</option>
            <option value="8">3:00 PM</option>
            <option value="9">4:00 PM</option>
            <option value="10">5:00 PM</option>
            <option value="11">6:00 PM</option>
            <option value="12">7:00 PM</option>
            <option value="13">8:00 PM</option>
            <option value="14">9:00 PM</option>
            <option value="15">10:00 PM</option>
            <option>...</option>
          </select>
        </div>

        <div class="form-group mt-2">
          <label for="inputTime"><strong>Last Available Appointment</strong></label>
          <select id="clientLastApp" class="form-control">
            <option selected>Choose...</option>
            <option value="1">8:00 AM</option>
            <option value="2">9:00 AM</option>
            <option value="3">10:00 AM</option>
            <option value="4">11:00 AM</option>
            <option value="5">12:00 PM</option>
            <option value="6">1:00 PM</option>
            <option value="7">2:00 PM</option>
            <option value="8">3:00 PM</option>
            <option value="9">4:00 PM</option>
            <option value="10">5:00 PM</option>
            <option value="11">6:00 PM</option>
            <option value="12">7:00 PM</option>
            <option value="13">8:00 PM</option>
            <option value="14">9:00 PM</option>
            <option value="15">10:00 PM</option>
            <option>...</option>
          </select>
        </div>

        <div class="form-group">
          <label for="fileUpload"><strong>Company Logo: </strong></label>
          <input type="file" class="form-control-file" id="fileUpload">
        </div>

        <button type="submit" id="clientSignup" class="btn btn-primary mb-3 mt-2">Sign Up</button>
        </form>
  </div>
</div>