<div class="landing-page-bg">
  <form>
    <div class="container-fluid login-container d-flex justify-content-end align-items-center">
      <div class="mb-2 float-left">
        <label for="landingPageEmail" class="mb-0 user-login-labels">Email</label>
        <input name="email" type="email" class="form-control mr-3" id="landingPageEmail" aria-describedby="emailHelp"
          placeholder="Email" required>
      </div>
      <div class="mb-2 float-right">
        <label for="landingPagePassword" class="mb-0 user-login-labels">Password</label>
        <input name="password" type="password" class="form-control mr-3" id="landingPagePassword" placeholder="Password"
          required>
      </div>
      <button type="submit" id="clientLogin" class="btn remove-border-radius btn-primary">Log In</button>
    </div>
  </form>

  <div class="jumbotron jumbotron-fluid parallax-effect m-0 d-flex">
    <h1 class="display-4 text-center schedulr-logo">schedulr</h1>
    <p class="lead text-center schedulr-text">
      <em>schedulr aims to simplify the communication process between
        both client and customer</em>
    </p>
    <a class="btn btn-primary align-self-center" id="clientSignUpBtn" href="#scrollDownForm" role="button">Sign Up</a>
  </div>

  <div class="jumbotron jumbotron-fluid mb-0 p-0 overview">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-calendar-alt custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Appointments</h5>
              <p class="card-text landing-page-text text-center">
                We want to amplify your reach and give you full control
                over managing appointments with your customers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-envelope-open custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Communications</h5>
              <p class="card-text landing-page-text text-center">
                Whether you are running business or a returning
                customer, we have made it easy to view the information
                you care about.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm custom-card-width mb-3 pt-3">
          <div class="card custom-icon-cards" style="width: 18rem;">
            <i class="far fa-handshake custom-icon-styling"></i>
            <div class="card-body">
              <h5 class="card-title card-title-styling">Client Satisfaction</h5>
              <p class="card-text landing-page-text text-center">
                Schedulr stores business and customer information alike
                to preserve customer engagement. We can only guarantee all smiles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container new-member-styling" id="scrollDownForm">
    <div class="card">
      <div class="card-header new-member-header-styling">
        <h4 class="mb-0 lookupLogo">Client Registration Form</h4>
      </div>

      <div class="card-body h-100">
        <form action="/signup" method="post" enctype="multipart/form-data" id="client-signup">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="clientEmail">Email</label>
              <input required type="email" name="email" class="form-control" id="clientEmail"
                placeholder="email@domain.org" aria-describedby="emailHelp">
            </div>

            <div class="form-group col-md-6">
              <label for="clientPassw">Password</label>
              <input required type="password" name="password" class="form-control" aria-describedby="password"
                id="clientPassw">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12 col-md-5">
              <label for="clientName">Company Name</label>
              <input name="bus_name" type="text" class="form-control" id="clientName" aria-describedby="name" required>
            </div>

            <div class="form-group col-6 col-md-3">
              <label for="client-number">Number</label>
              <input name="bus_number" type="text" class="form-control" id="clientNumber" aria-describedby="number"
                required>
            </div>

            <div class="form-group col-6 col-md-4">
              <label for="client-website">Website</label>
              <input name="bus_website" type="text" class="form-control" id="clientwebsite" aria-describedby="website"
                required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-12 col-md-8">
              <label for="clientaddress">Company Location</label>
              <input name="bus_address" type="text" class="form-control" id="clientAddress" aria-describedby="address"
                required>
            </div>

            <div class="col-6 col-md-2">
              <label for="inputTime" class="appt-label-styling">First Appt</label>
              <select name="first_apt" id="clientFirstApp" class="form-control">
                <option selected>Choose...</option>
                <option value="1">8:00 AM</option>
                <option value="2">9:00 AM</option>
                <option value="3">10:00 AM</option>
                <option value="4">11:00 AM</option>
                <option value="5">12:00 PM</option>
                <option value="6">1:00 PM</option>
                <option value="7">2:00 PM</option>
                <option value="8">3:00 PM</option>
                <option value="9">4:00 PM</option>
                <option value="10">5:00 PM</option>
                <option value="11">6:00 PM</option>
                <option value="12">7:00 PM</option>
                <option value="13">8:00 PM</option>
                <option value="14">9:00 PM</option>
                <option value="15">10:00 PM</option>
                <option>...</option>
              </select>
            </div>

            <div class="col-6 col-md-2">
              <label for="inputTime" class="appt-label-styling">Last Appt</label>
              <select name="last_apt" id="clientLastApp" class="form-control">
                <option selected>Choose...</option>
                <option value="1">8:00 AM</option>
                <option value="2">9:00 AM</option>
                <option value="3">10:00 AM</option>
                <option value="4">11:00 AM</option>
                <option value="5">12:00 PM</option>
                <option value="6">1:00 PM</option>
                <option value="7">2:00 PM</option>
                <option value="8">3:00 PM</option>
                <option value="9">4:00 PM</option>
                <option value="10">5:00 PM</option>
                <option value="11">6:00 PM</option>
                <option value="12">7:00 PM</option>
                <option value="13">8:00 PM</option>
                <option value="14">9:00 PM</option>
                <option value="15">10:00 PM</option>
                <option>...</option>
              </select>
            </div>
          </div>

          <div class="form-row mt-3">
            <div class="col-12">
              <div class="form-group">
                <label for="fileUpload">Company Logo</label>
                <input type="file" name="file" class="form-control-file">
              </div>
            </div>
          </div>
          <button type="submit" id="clientSignUp" class="btn btn-primary mb-3 mt-2">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>